.features-block {
    .layout--twocol-section.layout--twocol-section--33-67 {
        padding: 0;
        & > .layout__region {
            background: $lightGray;
            position: relative;
            &--first {
                flex: 0 1 40%;
                overflow: hidden;
                &::before {
                    content: "";
                    display: block;
                    position:absolute;
                    bottom:0;
                    right:0;
                    width: 0;
                    height: 0;
                    border-bottom: 540px solid $lightGray;
                    border-left: 200px solid transparent;
                    z-index: 1;
                }
                .field--type-image {
                    float: none;
                    position: relative;
                    img {
                        position: absolute;
                        margin: 0;
                    }
                }
            }

            &--second {
                flex: 0 1 60%;
                padding: 60px 130px 45px 50px;
            }
        }    
    }


    h2 {
        margin-bottom: 30px;
        font-size: 36px;
    }

    p {
        line-height: 1.8em;
        margin-bottom: 40px;

        strong {
            font-size: 18px;
            color: $titleColor;
            font-weight: 600;
        }
    }
}
    
.awesome-features {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    .field__item {
        flex: 1 1 30%;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;

        h6 {
            margin-bottom: 10px;
        }
    }
}