.pagination {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: auto;
    margin: 60px auto;
    
    li {
        background: $lightGray;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-family: $montserrat;
        font-weight: 600;
    }

    .active {
        background-color: $greenHover;
        color: white;
    }
}