.header #search-block-form, .search-form {
    display: flex;
    flex-flow: row-reverse nowrap;
    align-items: center;
}

fieldset {
    border-width: 0;
}

.form-search {
    border-color: $titleColor;
    border-width: 1px;
    padding: 0 15px;
    height: 30px;
    margin-left: 10px;
    font-size: 14px;
    font-family: $montserrat;
}  

.form-submit {
    font-size: 0;
    background: url(../../images/search.png) no-repeat center;
    height: 30px;
    width: 30px;
    border-width: 0px;
}