.block {
    &-block-content {
        @include maxWidth;
        text-align: center;
        line-height: 1.5em;
        
        h2 {
            font-size: 24px;
            padding: 100px 0 20px;
            color: $titleColor;

            @include breakpoint(tablet) {
                font-size: 30px;
            }
        }
    }

    &-field-blockblock-contentbasicbody {
        width: 85%;
        margin: 0 auto 55px;
        
        @include breakpoint(tablet) {
            width: 60%;
        }
    }
}

