*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.node .field--type-image {
    float: none;
    margin: 0;
}

.field--type-image img, .field--name-field-user-picture img {
    margin: 0;
}
.layout--twocol-section {
    &.layout--twocol-section {
        &--67-33 {
            & > .layout__region {
                &--first, &--second {
                    flex: 0 1 100%;
                    max-width: 100%;
                }

                &--first {
                    @include breakpoint(laptop){
                        flex: 0 1 67%;
                        max-width: 67%;
                    }
                }
        
                &--second {
                    @include breakpoint(laptop){
                        flex: 0 1 33%;
                        max-width: 33%;
                    }
                }
            }
        }
    }
    
}

.layout--threecol-section--50-25-25 {
    & > .layout__region {
        &--first {
            max-width: 100%;
            @include breakpoint(laptop) {
                max-width: 50%;
            }
        }

        &--second, &--third {
            max-width: 100%;
            @include breakpoint(laptop){
                max-width: 25%;
            }
        }
    }
}

.feed-icons {
    display: none;
}

.contextual {
    display: none;
}