*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.node .field--type-image {
    float: none;
    margin: 0;
}

.field--type-image img, .field--name-field-user-picture img {
    margin: 0;
}

.layout--twocol-section--67-33 {
    & > .layout__region {
        &--first {
            max-width: 67%;
        }

        &--second {
            max-width: 33%;
        }
    }
}

.layout--threecol-section--50-25-25 {
    & > .layout__region {
        &--first {
            max-width: 50%;
        }

        &--second, &--third {
            max-width: 25%;
        }
    }
}

.feed-icons {
    display: none;
}

.contextual {
    display: none;
}