h6 {
    font-family: $montserrat;
    font-size: 16px;
    color: $titleColor;
}

li {
    list-style-type: none;
}

p {
    font-size: 14px;
    font-family: $montserrat;
    color: $textColor;
}

/*change links only on page, not in admin menu*/
.page-wrapper { 
    a {
        color: $titleColor;
        font-family: $montserrat;
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
    }
    
    a:hover {
        color: $greenHover;
    }
}

