h1, h2, h3, h4 {
    font-family: $raleway;
    text-transform: uppercase;
    color: $titleColor;
}

h1 {
    font-size: 40px;
    color:white;
}


h2 {
    font-size: 48px;
   
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
    font-family: $montserrat;
    color: $titleColor;
    font-weight: 600;
}

h6 {
    font-family: $montserrat;
    font-size: 18px;
    color: $titleColor;
    font-weight: 600;
}

li {
    list-style-type: none;
}

p, blockquote, .field--name-created {
    @include paragraphStyle;
    line-height: 1.7em;
}

strong {
    color: $titleColor;
    font-weight: 600;
    font-size: 17px;
}

/*change links only on page, not in admin menu*/
.page-wrapper { 
    a {
        color: $titleColor;
        font-family: $montserrat;
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
    }
    
    a:hover {
        color: $greenHover;
    }
}

