h1, h2, h3, h4 {
    font-family: $raleway;
    text-transform: uppercase;
    color: $titleColor;
}

h1 {
    font-size: 28px;
    color:white;
    width: 90%;
    margin:auto;

    @include breakpoint(tablet){
        font-size: 40px;
    }
}

h2 {
    font-size: 26px; 

    @include breakpoint(tablet){
        font-size: 40px; 
    }   

    @include breakpoint(laptop_m){
        font-size: 48px; 
    }  
}

h3 {
    font-size: 24px;

    @include breakpoint(tablet){
        font-size: 36px; 
    }   

    @include breakpoint(laptop_m) {
        font-size: 30px;
    }
}

h4 {
    font-size: 26px;
}

h5 {
    font-size: 24px;
    font-family: $montserrat;
    color: $titleColor;
    font-weight: 600;
}

h6 {
    font-family: $montserrat;
    font-size: 18px;
    color: $titleColor;
    font-weight: 600;
}

li {
    list-style-type: none;
}

p, blockquote, .field--name-created, label, .fieldset-legend, summary {
    @include paragraphStyle;
    line-height: 1.7em;
    text-align: left;
}

.fieldset-legend {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 0;
}

strong {
    color: $titleColor;
    font-weight: 600;
    font-size: 17px;
}

/*change links only on page, not in admin menu*/
.page-wrapper { 
    a {
        color: $titleColor;
        font-family: $montserrat;
        transition: all 0.3s ease-out 0s;
        text-decoration: none;
    }
    
    a:hover {
        color: $greenHover;
    }
}

