.about {
    @include maxWidth;

    .layout {
        align-items: center;
        padding: 15px;
    }

    &__content {
       @include breakpoint(tablet){
          width: 90%;
          margin: auto;
       }
    }

    h3 {
        &:last-of-type {
            margin-bottom:30px;
        }
    }

    p {
       margin-bottom: 15px;
       line-height: 1.6em;
    }

    .field--type-image {
        margin: 0;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}