.about {
    @include maxWidth;

    .layout {
        align-items: center;
    }

    &__content {
       width: 90%;
       margin: auto;
    }

    h3 {
        &:last-of-type {
            margin-bottom:30px;
        }
    }

    p {
       margin-bottom: 15px;
       line-height: 1.6em;
    }
}