.region-banner {
    position: relative;

    h2 {
        color: white;
    }

    .title-block {
        position: absolute;
        top: 45%;
        left: 0;
        width: 100%;
        color: white;
        text-align: center;
    }

    .breadcrumb-block {
        position: absolute;
        bottom: 10px;
        left: 18%;
        a {
            color: #B3B3B3;
            text-transform: uppercase;
            font-family: $montserrat;
            font-weight: 600;
        }
    }

    .field--type-image {
        @include overlay($backgroundOverlay);
        height: 433px;
        overflow: hidden;
        
        img {
            margin-bottom: 0;
        }
    }
    
}


