.blog-item {
    font-size: 14px;
    .views-field {
        width: 358px;
        background: $lightGray;
        padding: 0 15px;
        &-created, &-body, &-view-node {
            position: relative;
            top:-5px;
        }

        &-field-image {
            padding: 0;
        }

        &-title {
            padding-top: 15px;
            line-height: 1.5em;
            a {
                color: $titleColor;
            }
        }

        &-title, &-created {
            @include borderCard(left, $titleColor);
        }

        &-created, &-body, &-view-node {
            padding-bottom: 15px;
        } 

        &-created {
            @include paragraphStyle;
        }

        &-view-node {
            @include borderCard(bottom, $titleColor);
        }
    }

    a {
        color: #666;
        font-family: $montserrat;
        font-weight: 600;
        &:hover {
            color: $greenHover;
        }
    }

    &:hover {
        a {
            color: $greenHover;
        }

        .views-field {
            &-title, &-created, &-view-node {
                border-color: $greenHover;
            }
        }
    }
}