.block-cta {
    @include overlay(linear-gradient(120deg, $greenHover 27%, transparentize($titleColor, 0.2) 27%));
    height: 250px;
    position: relative;
    background: url('../../images/bg-1.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin-top:60px;

    .layout {
        position:absolute;
        bottom:0;
        width: 100%;
    }
}

.cta-title, .text-cta {
    height: 100%;
    display: flex;
    align-items: center;
    h3 {
        color: white;
        line-height: 1.8em;
    }
}

.cta-title {
    padding-left: 50px;
    h3 {
       width:50%;
       margin: auto;
       line-height: 1.4em;
       font-size: 30px;
    }
}

.text-cta {
    h3 {
        line-height: 1.8em;
    }
}

.image-cta {
    display: flex;
    justify-content: center;
}

