.blog-item {
    font-size: 14px;

    article {
        background: $lightGray;
    }

    .comment-add {
        display: none;
    } 

    .layout {
        &:nth-child(2) {
            @include borderCard(left, $titleColor);
            padding: 0 15px;
            margin-top: 15px;
        }

        &:last-child {
            padding: 15px;
        }
    }

    .block-field {
        &-blocknodearticlefield-image {
            max-height: 240px;
            overflow: hidden;
            a {
                display: block;
                img {
                    width: 100%;
                    height: auto;
                }
            }
        }

        &-blocknodearticletitle {
            line-height: 1.5em;
           
            a {
                color: $titleColor;
            }
        }

        &-blocknodearticlebody {
            padding-bottom: 15px;
        }
    }

    a {
        color: #666;
        font-family: $montserrat;
        font-weight: 600;
        &:hover {
            color: $greenHover;
        }
    }

    .comment-forbidden {
        display: none;
    }

    &:hover {
        a {
            color: $greenHover;
        }

        &:hover {
            .layout {
                &:nth-child(2) {
                    @include borderCard(left, $greenHover);       
                }
            }

            .block-field-blocknodearticletitle {
                line-height: 1.5em;
               
                a {
                    color: $greenHover;
                }
            }
    
        }
    }
}