.site-footer {
    background: url(../../images/bg-2.jpg) no-repeat center;
    background-size: cover;
    padding:0;
    
    p {
        color: #ccc;
    }

    h6 {
        color:#fefefe;
        margin-bottom: 10px;
        text-align: left;
    }


    .block-views {
        width: 100%;
        color: #c7c7c7;

        @include breakpoint(tablet){
            width: 50%;
        }
    }

    .content {
        a {
            color: #c7c7c7;
            
            &:hover {
                color:$greenHover;
            }
        }
    }

    .block {
        margin:0;
        border:none;
        width: 100%;
    }
      
}

.footer-section {
    background: $backgroundOverlay;    
    padding:110px 0 80px;
    p {
        font-size: 12px;
        line-height: 1.6em;
    }

    .block {
        &:first-child {
            padding-bottom:40px;

            @include breakpoint(tablet) {
                padding-bottom:0;
            }
        }

        @include breakpoint(tablet) {
            width: 50%;
        }

        @include breakpoint(laptop) {
            width: 33%;
        }

    }
}

.region-footer {
    @include maxWidth;
    display: flex;
    flex-wrap: wrap;
}

.copyright-section {
    background: $backgroundOverlay;
    text-align: center;
    border-top: 1px solid #484848;
    font-size: 13px;

    .block {
        margin: auto;
    }

    p {
        font-size: 13px;
        text-align: center;
    }

    .content {
        a {
            color: $greenHover;
        }
    }   
}