.logo-block{
    @include maxWidth;
    margin-top: 60px;
    .field {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-bottom: 115px;
        &__item {
            border: 1px solid $lightGray;
            padding: 0 30px;
            img {
                margin: 0;
            }
        }
    }
}