.logo-block {
    @include maxWidth;
    margin-top: 60px;
    .field {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        &__item {
            border: 1px solid $lightGray;
            padding: 0 30px;
            width: 100%;
            img {
                margin: 0;
            }

            &:hover {
                border-color: $greenHover;
            }

            @include breakpoint(tablet) {
                width: 33%;
            }

            @include breakpoint(laptop) {
                width: 18%;
            }
        }
    }
}