.navigation {
    background-color: transparentize($titleColor, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    a {
        color:white;
        font-weight: 600;
        text-transform: uppercase;
        padding:19px;
        display: block
    }
    .nav {
        width: 46%;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
}