.property {
    position: relative;

    .layout {
        &:nth-child(2) {
            padding: 5px 0;
            .layout__region {
                display: flex;
                align-items: center;
            }
        }
    }
    .block-field {
        &-blocknodepropertytitle {
            width: 75%;
            text-transform: capitalize;
        }

        &-blocknodepropertyfield {
            &-category {
                position: absolute;
                top: 5px;
                left: 10px;
                a {
                    @include whiteLink;
                }
            }

            &-short-icons {
                background-color: $titleColor;
                padding:15px 0;

                .field__items {
                    display: flex;
                    justify-content: space-around;
                    width: 100%;
                }

                .paragraph {
                    display: flex;
                    align-items: center;
                    img {
                        margin-bottom: 0px;
                        position: relative;
                        top: 2px;
                    }
                    p {
                        color: white;
                        font-weight: 600;
                        text-transform: lowercase;
                    }
                }
            }

            &-price {
                color: $greenHover;
                font-weight: 600;
                font-family: $montserrat;
                font-size: 22px;
                width: 25%;
                display: inline-block;
                text-align: right;
                position: relative;
                top: 2px;
            }

            &-address {
                text-transform: capitalize;
                padding-bottom: 15px;
                font-weight: 400;
            }

            &-featured-image {
                @include overlay(transparent);
                max-height: 200px;
                position: relative;
                overflow: hidden;

                img {
                    width: 100%;
                    height: auto;
                }
                
                @include breakpoint(tablet){
                    max-height: 150px;
                }

                @include breakpoint(laptop){
                    max-height: 200px;
                }
            }
        }
            
    }

    .block-extra-field-blocknodepropertylinks {
        position: absolute;
        top: 28%;
        left: 30%;
        display: none;

        a {
            @include whiteBtn;
        }
    }



    &:hover {
        .block-extra-field-blocknodepropertylinks {
            display: flex;
            z-index: 10;

            a {
                &:hover {
                    background: $greenHover;
                    color: white;
                    border-color: $greenHover;
                }
            }            
        }

        .block-field-blocknodepropertyfield {
            &-category {
                display: none;
            }

            &-featured-image {
                &:before {
                    background:$backgroundOverlay;
                    z-index: 1;
                }
                
                img {
                    transform:scale(1.05);
                }
            }
        }
    }
    
}
