.service {
    padding: 0 15px;
    .content {
        background: $lightGray;
        text-align: left;
    }

    .layout {
        &:last-child {
            padding: 20px 15px 25px;
        }
    }
    
    .block-field-blocktaxonomy {
        &-termpropertyname {
            @include teaserTitles;
            margin-bottom: 5px;
        }

        &-termpropertyfield {
            &-short-description {
            @include paragraphStyle;
            }

            &-featured-image {
                img {
                    max-width: 100%;
                    height: auto;
                }
            }
        }
    }
    
    &:hover {
        .vocabulary-property {
            box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2);
        }
    }
}

