.node {
    &--agent {
        padding: 115px 0;

        .layout {
            &--threecol-section, &--twocol-section {
                @include maxWidth;
            }

            &--threecol-section {
                .layout__region {
                    &--second {
                        display: flex;
                        align-items: flex-end;
                    }
                }

            }

        }
        
        h5 {
            font-weight: 600;
        }


        p, li {
            font-size: 15px;
        }

        span {
            color: $greenHover;
            font-weight: 600;
        }

        .paragraph {
            display: flex;
            .field {
                &--type {
                    &-image {
                        margin-right: 5px;
                        position: relative;
                        top: 2px;
                    }
                }
            }
        }

        li {
            @include paragraphStyle;
            position: relative;
            padding: 0 0 15px 30px;
            line-height: 1.8em;
            &:before {
                font-family: fontawesome;
                position: absolute;
                top: 1px;
                left: 0;
                content: "\f046"; 
            }
        }

        .block-field-blocknodeagentbody {
            h6 {
                margin: 15px 0;
            }
        }

        .field {
            &--name {
                &-field {
                    &-title {
                        margin-top: 0;
                    }
                    &-subtitle {
                        p {
                            margin-bottom: 25px;
                        }
                    }

                    &-working-experience {
                        h6 {
                            margin-bottom: 40px;
                        }

                    }
                }
            }
            
        }
    }
}