.layout {
    &--three-columns-with-sidebar {
        .layout__region {
            margin-bottom: 40px;
            &--top_left, &--top_right {
                .field {
                    &__items {
                        background-color: $lightGray;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 35px 10px 20px 25px;
                        max-height: 245px;
                    }
    
                    &__item {
                        flex: 1 1 50%;
                        p {
                            margin-bottom: 25px;
                        }
                    }
    
                    &--name-field {
                        &-amenities {
                            .field__item {
                                @include paragraphStyle;
                                margin-bottom: 20px;
                                padding-left: 20px;
                                position: relative;
                                &::before {
                                    font-family: fontawesome;
                                    position: absolute;
                                    left: 0;
                                    top: 2px;
                                    content: "\f046";
                                    color: #606060;
                                }
                            }
                        }

                        &-contact-icon {
                            img {
                                position: relative;
                                top: 2px;
                            }
                        }
                    }
                    
    
                    &--type-image {
                        float: left;
                        margin-right: 10px;
                    }
                }
            }

            &--sidebar {
                @include sidebar;
            }
        }

        h6 {
            margin-bottom: 30px;
        }

    }
}
