.node {
    &--agent {
        padding: 115px 0;
        .layout {
            &--threecol-section, &--twocol-section {
                @include maxWidth;
            }

        }
        
        h5 {
            font-weight: 600;
        }

        h6 {
            margin: 15px 0;
        }

        p, strong {
            font-size: 15px;
        }

        .paragraph {
            display: flex;
        }

        li {
            @include paragraphStyle;
            position: relative;
            padding: 0 0 15px 30px;
            line-height: 1.6em;
            &:before {
                font-family: fontawesome;
                position: absolute;
                top: 1px;
                left: 0;
                content: "\f046"; 
            }
        }

        .field {
            &--name {
                &-field {
                    &-subtitle {
                        p {
                            margin-bottom: 25px;
                        }
                    }

                    &-working-experience {
                        h6 {
                            margin-bottom: 40px;
                        }

                    }
                }
            }

            &--type {
                &-image {
                    margin-right: 5px;
                }
            }
            
        }
    }
}