.taxonomy-term {
    &.vocabulary-property {
        margin-bottom: 10px;
    }

    .layout {
        align-items: center;
    }
    
    h3 {
        margin-bottom: 30px;
    }
    
    p {
        margin-bottom: 15px;
        
    }
}