.layout-main-wrapper {
    padding-top: 50px;
}

.views-row {
    margin-bottom: 20px;
    .views-col {  
        margin: 0 15px;
    }
}

.grid-view {
    @include maxWidth;
    .views-field {
        overflow: hidden;
    }
}

.grid-item {
    position: relative;
    transition: all 0.5s ease;

    .views-field {
        &-field-featured-image, &-field-image {
            height: 235px;
            overflow: hidden;
        }
            
    
        &-title, &-name {
            @include teaserTitles;
        }

        &-title {
            display: inline-block;
        }
    }

    p {
        line-height: 1.6em;
    }

    .field--type-image {
        float: left;
        margin: 0 1em 0 0;
    }

    &:hover {
        .views-field-field-featured-image, .views-field-field-image {
            img {
                transform:scale(1.05);
            }
        }
    }
}
