.properties, .blog, .agents {
    @include maxWidth;  
}

.layout-main-wrapper {
   padding: 100px 0;
}

.views-view-grid {
    display: flex;
    flex-wrap: wrap;
    .views-row {
        margin-bottom: 30px;
        width: 100%;
    }
}

.properties, .block-views-blockblog-view-block-1 {
    .views-row {
        @include breakpoint(tablet) {
            width: 50%;
        }

        @include breakpoint(laptop) {
            width: 33%;
        }
    }
}

.agents, .services {
    .views-row {
        width: 100%;

        @include breakpoint(tablet) {
            width: 50%;
        }

        @include breakpoint(laptop) {
            width: 25%;
        }
    }
}

.grid-item {
    position: relative;
    transition: all 0.5s ease;

    p {
        line-height: 1.6em;
    }
    .paragraph {
        .field--type-image {
            float: left;
            margin: 0 1em 0 0;
        }
    }

    &:hover {
        .views-field-field-featured-image, .views-field-field-image {
            img {
                transform:scale(1.05);
            }
        }
    }
}
