.properties {
    @include maxWidth;

    .views-field {
        width: 368px;
    }
}

.property {
    position: relative;
    transition: all 0.5s ease;

    .views-field{
        &-field-featured-image {
            height: 235px;
            overflow: hidden;
        }

        &-field-category {
            @include whiteLink;
            position: absolute;
            top:0;
            left: 0;
            padding: 6px 15px;
        }
    
        &-view-node {
            @include whiteLink;
            position: absolute;
            top: 28%;
            left: 28%;
            padding: 9px 12px 10px;
            border:1px solid white;
            width: 35%;
            display: none;
        }
    
        &-title {
            font-weight: 600;
            font-size: 18px;
            width: 70%;
            display: inline-block;
            padding: 10px 0 7px;
        }

        &-field-price {
            color: $greenHover;
            font-weight: 600;
            font-family: $montserrat;
            font-size: 22px;
            width: 25%;
            display: inline-block;
            text-align: right;
            position: relative;
            top: 2px;
            padding: 10px 0 7px;
        }

        &-field-address {
            padding-bottom: 15px;
        }
    }

    &:hover {
        .views-field-view-node {
            display: flex;
            justify-content: center;
            &:hover {
                background: $greenHover;
                color: white;
                border-color: $greenHover;
            }
        }


        .views-field-field-category {
            display: none;
        }

        .views-field-field-featured-image {
            background-color:transparentize($backgroundOverlay, 0.2);
            img {
                transform:scale(1.05);
            }
        }

    }
}

.short-icons {
    display: flex;
    justify-content: space-around;
    background-color: $titleColor;
    padding:15px 0;
    .paragraph {
        display: flex;
        align-items: center;
        img {
            margin-right: 10px;
            margin-bottom: 0px;
        }
        p {
            color: white;
            font-weight: 600;
        }
    }
}

.pagination {
    display: flex;
    justify-content: space-around;
    width: 25%;
    margin: auto;
    margin: 40px auto;
    
    li {
        background: #F5F5F5;
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-family: $montserrat;
        font-weight: 600;
    }

    .active {
        background-color: $greenHover;
        color: white;
    }
}