.table {
    border-collapse: collapse;

    td, tr {
        border: none;
        padding-top: 0;
        padding-bottom: 0;
    }

    tr {
        background-color: transparent;
        padding-top: 34px;
        display: block;
    }


    a {
        font-weight: 600;
        margin-bottom: 5px;
        display: block;
    }

    .views-field-field-image {
        padding-left: 0;
        a {
            margin-bottom:0;
        }
    }
}