@mixin breakpoint($point) {
    @if $point == mobile {
      @media screen and (min-width: 320px) { @content ; }
   }
   @else if $point == tablet {
      @media screen and (min-width: 768px) { @content ; }
   }
   @else if $point == laptop {
      @media screen and (min-width: 980px) { @content ; }
   }
   @else if $point == desktop {
    @media screen and (min-width: 1200px) { @content ; }
    }
}

@mixin maxWidth {
    margin: auto;
    @include breakpoint(tablet) {
        max-width: 750px;
    }   
    
    @include breakpoint(laptop) {
        max-width: 970px;
    }   

    @include breakpoint(desktop) {
        max-width: 1200px;
    }   
}
    

@mixin whiteLink {
    color:white;
    text-transform: uppercase;
    font-weight: 600;
}

@mixin whiteBtn {
    @include whiteLink;
    border:1px solid white;
    padding: 9px 12px 10px;
    display: block;
}

@mixin overlay($background) {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: $background;
    }
}

@mixin paragraphStyle {
    font-size: 13px;
    font-family: $montserrat;
    color: $textColor;

    @include breakpoint(desktop) {
        font-size: 14px;
    }
}

@mixin teaserTitles {
    font-weight: 600;
    font-size: 18px;
}

@mixin borderCard($direction, $color) {
    border-#{$direction}: 4px solid $color;
}

@mixin sidebar {
    padding-bottom: 10px;
    border-bottom: 1px solid #CCC;
}