@mixin maxWidth {
    max-width: $maxWidth;
    margin: auto;
}
    

@mixin whiteLink {
    color:white;
    text-transform: uppercase;
    font-weight: 600;
}

@mixin whiteBtn {
    @include whiteLink;
    border:1px solid white;
    padding: 9px 12px 10px;
    display: block;
}

@mixin overlay {
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: transparentize($backgroundOverlay, 0.3);
    }
}

@mixin paragraphStyle {
    font-size: 14px;
    font-family: $montserrat;
    color: $textColor;
}

@mixin teaserTitles {
    font-weight: 600;
    font-size: 18px;
}