/*Colors*/

$titleColor: #1f223e;
$textColor: #606060;
$greenHover: #95c41f;
$backgroundOverlay:rgba(0, 0, 0, 0.7);
$lightGray: #f5f5f5;

/*Fonts*/

$montserrat: 'Montserrat', sans-serif;
$raleway: 'Raleway', sans-serif;

/*Width*/

$maxWidth: 1200px;