/*Colors*/
/*Fonts*/
/*Width*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
  text-transform: uppercase; }

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  text-transform: uppercase; }

h6 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #1f223e;
  font-weight: 600; }

li {
  list-style-type: none; }

p {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: #606060; }

/*change links only on page, not in admin menu*/
.page-wrapper a {
  color: #1f223e;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s ease-out 0s;
  text-decoration: none; }

.page-wrapper a:hover {
  color: #95c41f; }

.contact--header {
  width: 60%; }
  .contact--header .field {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }
    .contact--header .field__info {
      flex-direction: column;
      margin-left: 20px; }

.contact--footer {
  width: 25%; }
  .contact--footer .paragraph {
    padding-top: 25px; }
  .contact--footer p {
    margin-left: 20px;
    line-height: 1.5em; }

.contact .paragraph {
  display: flex;
  align-items: center; }

.contact img {
  margin-bottom: 0; }

.region-banner .iframe-field {
  height: 610px;
  overflow: hidden; }
  .region-banner .iframe-field > div {
    width: 100%;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16/9;
    /* No clicking/hover effects */
    pointer-events: none;
    transform: translateY(-20%); }
    .region-banner .iframe-field > div::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .region-banner .iframe-field + .title-block {
    transform: translate(27%, 45%); }

.region-banner .banner-button {
  position: absolute;
  top: 60%;
  width: 100%;
  display: flex;
  justify-content: center; }
  .region-banner .banner-button a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid white;
    padding: 9px 12px 10px;
    display: block; }
    .region-banner .banner-button a:hover {
      background: #95c41f; }

.pagination {
  display: flex;
  justify-content: space-around;
  width: 25%;
  margin: auto;
  margin: 40px auto; }
  .pagination li {
    background: #f5f5f5;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
  .pagination .active {
    background-color: #95c41f;
    color: white; }

.section-heading {
  max-width: 1170px;
  margin: auto;
  text-align: center;
  padding: 0 171px 55px;
  line-height: 1.5em; }
  .section-heading h2 {
    font-size: 30px;
    color: #1f223e;
    margin-bottom: 20px; }

.logo-block {
  max-width: 1170px;
  margin: auto; }
  .logo-block .field {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 115px; }
    .logo-block .field__item {
      border: 1px solid #f5f5f5;
      padding: 0 30px; }
      .logo-block .field__item img {
        margin: 0; }

.layout {
  padding-bottom: 80px; }

header {
  max-width: 1170px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 13px 0; }
  header p {
    font-size: 12px; }
  header #search-block-form {
    flex-flow: row-reverse nowrap;
    align-items: center; }
  header fieldset {
    border-width: 0; }
  header .form-search {
    border-color: #1f223e;
    border-width: 1px;
    padding: 0 15px;
    height: 30px;
    margin-left: 10px; }

.navbar {
  background-color: rgba(31, 34, 62, 0.9);
  position: relative;
  bottom: 5px; }
  .navbar a {
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    padding: 19px;
    display: block; }
  .navbar .nav {
    width: 46%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap; }

.region-banner {
  position: relative; }
  .region-banner .title-block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translate(18%, 45%);
    transform-origin: center;
    color: white; }
  .region-banner .breadcrumb-block {
    position: relative;
    bottom: 30px;
    left: 18%; }
    .region-banner .breadcrumb-block a {
      color: #B3B3B3;
      text-transform: uppercase;
      font-family: "Montserrat", sans-serif;
      font-weight: 600; }
  .region-banner .field--type-image {
    height: 433px;
    overflow: hidden; }
    .region-banner .field--type-image::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.7); }
    .region-banner .field--type-image img {
      margin-bottom: 0; }

.services .views-field {
  width: 270px;
  background: #f5f5f5; }
  .services .views-field-field-featured-image {
    height: 195px;
    position: relative; }
    .services .views-field-field-featured-image img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
  .services .views-field-name {
    font-weight: 600;
    font-size: 18px;
    padding: 26px 15px 5px; }
  .services .views-field-field-short-description {
    padding: 0 15px 25px; }

.service {
  height: 348px; }
  .service p {
    line-height: 1.6em; }

.properties .views-field {
  width: 368px; }

.property .views-field-title {
  width: 70%;
  text-transform: capitalize;
  padding: 10px 0 7px; }

.property .views-field-field-category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 15px; }
  .property .views-field-field-category a {
    color: white;
    text-transform: uppercase;
    font-weight: 600; }

.property .views-field-view-node {
  position: absolute;
  top: 28%;
  left: 28%;
  display: none; }
  .property .views-field-view-node a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    border: 1px solid white;
    padding: 9px 12px 10px;
    display: block; }

.property .views-field-field-price {
  color: #95c41f;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  font-size: 22px;
  width: 25%;
  display: inline-block;
  text-align: right;
  position: relative;
  top: 2px;
  padding: 10px 0 7px; }

.property .views-field-field-address {
  text-transform: capitalize;
  padding-bottom: 15px;
  font-weight: 500; }

.property:hover .views-field-view-node {
  display: flex; }
  .property:hover .views-field-view-node a:hover {
    background: #95c41f;
    color: white;
    border-color: #95c41f; }

.property:hover .views-field-field-category {
  display: none; }

.short-icons {
  display: flex;
  justify-content: space-around;
  background-color: #1f223e;
  padding: 15px 0; }
  .short-icons .paragraph {
    display: flex;
    align-items: center; }
    .short-icons .paragraph img {
      margin-bottom: 0px;
      position: relative;
      top: 2px; }
    .short-icons .paragraph p {
      color: white;
      font-weight: 600;
      text-transform: lowercase; }

.blog-item {
  font-size: 14px; }
  .blog-item .views-field {
    width: 358px;
    background: #f5f5f5;
    padding: 0 15px; }
    .blog-item .views-field-created, .blog-item .views-field-body, .blog-item .views-field-view-node {
      position: relative;
      top: -5px; }
    .blog-item .views-field-field-image {
      padding: 0; }
    .blog-item .views-field-title {
      padding-top: 15px;
      line-height: 1.5em; }
      .blog-item .views-field-title a {
        color: #1f223e; }
    .blog-item .views-field-title, .blog-item .views-field-created {
      border-left: 4px solid #1f223e; }
    .blog-item .views-field-created, .blog-item .views-field-body, .blog-item .views-field-view-node {
      padding-bottom: 15px; }
    .blog-item .views-field-created {
      font-size: 14px;
      font-family: "Montserrat", sans-serif;
      color: #606060; }
    .blog-item .views-field-view-node {
      border-bottom: 4px solid #1f223e; }
  .blog-item a {
    color: #666;
    font-family: "Montserrat", sans-serif;
    font-weight: 600; }
    .blog-item a:hover {
      color: #95c41f; }
  .blog-item:hover a {
    color: #95c41f; }
  .blog-item:hover .views-field-title, .blog-item:hover .views-field-created, .blog-item:hover .views-field-view-node {
    border-color: #95c41f; }

.site-footer {
  background: url(../../images/bg-2.jpg) no-repeat center;
  background-size: cover;
  padding: 0; }
  .site-footer p {
    color: #ccc; }
  .site-footer h6 {
    color: #fefefe;
    margin-bottom: 30px; }
  .site-footer .block {
    margin: 0;
    border: none; }
  .site-footer .block-views {
    width: 50%;
    color: #c7c7c7; }
  .site-footer .content a {
    color: #c7c7c7; }
    .site-footer .content a:hover {
      color: #95c41f; }

.footer-section {
  background: rgba(0, 0, 0, 0.8);
  padding: 110px 0 80px; }
  .footer-section p {
    font-size: 12px;
    line-height: 1.4em; }

.region-footer {
  max-width: 1170px;
  margin: auto;
  display: flex;
  flex-wrap: wrap; }

.copyright-section {
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
  padding: 20px 0;
  border-top: 1px solid #484848;
  font-size: 13px; }
  .copyright-section .block {
    margin: auto; }
  .copyright-section p {
    font-size: 13px; }
  .copyright-section .content a {
    color: #95c41f; }

.table {
  border-collapse: collapse; }
  .table td, .table tr {
    border: none;
    padding-top: 0; }
  .table tr:not(:first-child) {
    border-top: 34px solid transparent; }
  .table a {
    font-weight: 600;
    margin-bottom: 5px;
    display: block; }
  .table .views-field-field-image {
    padding-left: 0; }

.views-row {
  margin-bottom: 30px; }

.grid-view {
  max-width: 1170px;
  margin: auto; }
  .grid-view .views-field {
    overflow: hidden; }

.grid-item {
  position: relative;
  transition: all 0.5s ease; }
  .grid-item .views-field-field-featured-image, .grid-item .views-field-field-image {
    height: 235px;
    overflow: hidden; }
  .grid-item .views-field-title, .grid-item .views-field-name {
    font-weight: 600;
    font-size: 18px; }
  .grid-item .views-field-title {
    display: inline-block; }
  .grid-item p {
    line-height: 1.6em; }
  .grid-item .field--type-image {
    float: left;
    margin: 0 1em 0 0; }
  .grid-item:hover .views-field-field-featured-image img, .grid-item:hover .views-field-field-image img {
    transform: scale(1.05); }
